* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 100px; /* Ajusta según el tamaño de tu logo */
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 2em;
    margin: 10px 0;
}

.header-content p {
    font-size: 1.2em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

@mixin flex($direction: row, $justify: initial, $align: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    background: none;
}

body{
    background-color: #102A94;
    min-height: 100vh;
    @include flex(column,space-between);
}

.app-container {
    background-color: #fff;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.location {
    &__city {
        font-size: 24px;
        margin: 0;
    }

    &__time {
        font-size: 16px;
        margin: 5px 0;
        color: #777;
    }
}

.weather-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    &__temperature {
        h2 {
            font-size: 32px;
            margin: 0;
        }

        p {
            font-size: 18px;
            margin: 5px 0;
            color: #777;
        }
    }

    &__icon {
        .weather-icon__image {
            max-width: 100px;
            height: auto;
        }
    }
}

.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast-item {
    text-align: center;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

    &__day {
        font-size: 16px;
        margin: 5px 0;
    }

    &__icon {
        max-width: 60px;
        height: auto;
    }

    &__temperature {
        font-size: 16px;
        margin: 5px 0;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;  
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__p {
        margin: 0;
    }
    &__ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__li {
        display: inline;
        margin-right: 15px;
    }
    &__a {
        color: #fff;
        text-decoration: none;
    }
}


// Estilos de la tabla de prendas


.add-button {
    background-color: #fff;
    font-size: 2.5rem;
    border-radius: 1rem;
    width: 150px;
    margin: 1rem;
    transition: background-color 0.125s ease;
    &:hover {
        background-color: #3498db;
    }
}

.table {
    color:white;
    width: calc(100% - 2rem);
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    &__caption-container {
        padding-inline: 1rem;
        @include flex(row, space-between, center);
    }
    &__caption {
        color:white;
        text-align: left;
        font-size: clamp(1.75rem, 5vw, 2.5rem);
        font-weight: 700;
    }
    &__head {
        border-bottom: 1px #ccc solid;
    }
    &__header {
        padding-block: 0.5rem;
    }
    tr {
        border-block: 1px #ccc6 solid;
    }
    &__cell {
        padding: 1rem;
        text-wrap: balance;
        &--actions {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
        }
    }
    &__image {
        max-width: 100px;
    }
    &__button{
        border: none;
        box-shadow: none;
    }
    &__svg {
        font-size: clamp(1.33rem, 3vw, 2rem);
        transition: fill 0.125s ease;
        &--edit {
            fill: #4682b4;
            &:hover {
                fill: hsl(207, 49%, 39%);
            }
        }
        &--delete {
            fill: #dc143c;
            &:hover {
                fill: hsl(348, 89%, 37%);
            }
        }
    }
    @media (width < 735px) {
        text-align: left;
        &__caption-container {
            padding-inline: 0;
        }
        &__head {
            display: none;
        }
        &__cell {
            display: block;
            &--actions {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                gap: 5rem;
            }
            &:not(.table__cell:last-of-type)::before {
                content: attr(data-cell) ": ";
                font-weight: 700;
            }
            &--news:nth-of-type(3) {
                max-width: 75vw;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.form{
    border: black solid 1px;
    width: 90%;
    max-width: 500px;
    padding: 10px;
    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    @include flex(column);
    &__header {
        @include flex(row, space-between);
    }
    &__close{
        font-size: 2rem;
        transition: transform .125s linear;
        &:hover{
            transform: scale(1.25);
        }
    }
    &__group{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        width: 100%;
    }
    &__input {
        grid-area: 1/2/1/7;
        width: auto;
        padding-block: 5px;
        margin-block: 5px;
        resize: vertical;
        &:not(&--submit){
            border-bottom: 1px var(--text) solid;
            &:focus, &:focus-within{
                border-bottom: 1px var(--primary) solid;
            }
        }
        &--submit{
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
            &:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
    }
    &__properties{
        @include flex(column);
        &--label{
            
        }
    }
}
